<!-- app/views/layouts/application.html.erb -->
<div class="conversation">
  <p><%= @question %></p>
  <i>- You</i>
<div>

<div class="conversation">
  <p><%= @answer %></p>
  <i>- Your coach</i>
<div>

<br><br><br>
<a href="/" class="btn-ask-again">Ask a new question</a>
